[submodule "assignment-1"]
	path = assignment-1
	url = https://github.com/hydai/Cloud-Databases-Assignment-1
[submodule "assignment-2"]
	path = assignment-2
	url = https://github.com/hydai/Cloud-Databases-Assignment-2
[submodule "assignment-3"]
	path = assignment-3
	url = https://github.com/hydai/Cloud-Databases-Assignment-3
